<FilesMatch "^(\..*)$">
  Order allow,deny
</FilesMatch>
Options -Indexes
AddType 'text/html; charset=UTF-8' html
AddCharset UTF-8 .html
ErrorDocument 404 http://daniel-ruf.de
<IfModule mod_rewrite.c>
  RewriteEngine on
  RewriteRule "(^|/)\." - [F]
  RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
  RewriteRule ^ http://%1%{REQUEST_URI} [L,R=301]
</IfModule>
<IfModule mod_headers.c>
Header set Vary Accept-Encoding
</IfModule>